.text
{
    color: white;
    font-family: arial;
    font-style: normal;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}

h1
{
    color: white;
    font-family: arial;
    font-style: normal;
    font-size: 32px;
}

h2
{
    color: white;
    font-family: arial;
    font-style: normal;
    font-size: 26px;
}

h3
{
    color: white;
    font-family: arial;
    font-style: normal;
    font-size: 22px;
}

h4
{
    color: white;
    font-family: arial;
    font-style: normal;
    font-size: 18px;
}

strong
{
    font-family: arial;
    font-size: 18px;
}

code
{
    background-color: #02262d;
}

.preview_div
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    border-style:solid;
    border-width:5px;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #0a5adb;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
  width: 600px;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #0a5adb;
}

.flat-slider.ui-slider-vertical {
  height: 6px;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #391fb1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}