{% extends "base.html" %}
{% block content %}
	<title>KHUX Bot - Medal Creator</title>
    {% if error: %}
	    <div class="alert alert-danger">
            <strong>{{error}}</strong>
	    </div>
    {% endif %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/javascript/preview.js"></script>
    <div class="card bg-dark text-light border-light">
        <div class="card-body">
            <form enctype="multipart/form-data" id="medal_create_form" action="/image/create" method="post">
                <div class="form-group" id="file_image_container">
                    <input type="file" id="imgPreview0" name="image_file" class="form-control-file text-light"><br>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="button" name="add_image_container" id="add_image_container" value="Add another Image" class="btn btn-default btn-sm">
                        <input type="button" name="remove_image_container" id="remove_image_container" value="Remove Image" class="btn btn-default btn-sm">
                    </div>
                </div>
                <input type="hidden" id="left_width" name="left_width" value="0">
                <input type="hidden" id="right_width" name="right_width" value="600">
                <input type="hidden" id="top_height" name="top_height" value="300">
                <input type="hidden" id="bottom_height" name="bottom_height" value="0">
                <input type="hidden" id="image_list" name="image_list">
                    <div id="frame_selector" class="form-group">
                        <p class="text-light">Choose your element: </p>
                        <select id="element_selector" name="element_selector" class="form-control-sm">
                                <option value="power">Power</option>
                                <option value="speed">Speed</option>
                                <option value="magic">Magic</option>
                        </select>
                        <p class="text-light">Choose your direction: </p>
                        <select id="direction_selector" name="direction_selector" class="form-control-sm">
                                <option value="upright">Upright</option>
                                <option value="reversed">Reversed</option>
                        </select>
                    </div>
                <p>
                    <a class="btn btn-light" id="advanced_features_checkbox" data-toggle="collapse" href="#advanced_features" role="button" aria-expanded="false" aria-controls="advanced_features">
                        Toggle Advanced Features
                    </a>
                </p>
                <div class="collapse" id="advanced_features">
                    <div class="card bg-dark text-light border-light">
                        <div class="card-body">
                            <a class="btn btn-light form-control-sm" data-toggle="collapse" href="#custom_glow_div" role="button" aria-expanded="false" aria-controls="custom_glow_div">
                                Toggle Custom Glow Feature<br>
                            </a>
                            <div id="custom_glow_div" class="collapse">
                                    Note: Due to the different image libraries used, the preview glow might not match the resulting output<br>
                                    Glow colour: <input type="color" value="#FFFFFF" name="glow_colour" id="glow_colour" class="form-control-sm"><br>
                                    Glow Iterations: <input type="text" name="glow_iterations" id="glow_iterations" value="3" class="form-control-sm"><br>
                            </div>
                            Preview Mask<input type="checkbox" name="preview_mask" id="preview_mask" class="col-auto">
                        </div>
                    </div>
                </div>
                <input type="submit" name="submit" class="form-control-sm">
            </form>
        </div>
    </div>
    <div id="info_div" style="position:absolute;" class="text">
        Left-click + Drag: Move an image<br>
        Left-click + Mouse wheel: Resize an image<br>
    </div>
    <div id="canvas_container">
        <div class="flat-slider" id="flat-slider_horizontal" style="display:none;margin:auto;"></div>
        <canvas class="preview_div" id="preview_div" width="600" height="600"></canvas>
        <div class="flat-slider" id="flat-slider_vertical" style="display:none;top:-600px;left:calc(50% - 305px);width:6px;height:600px;"></div>
    </div>
    <script>
        //Initialise the canvas as well as place the initial medal background
        initialise_canvas();
        //Update image when the selector changes
        $(document).on("change", "#frame_selector", function() {
            let element = $('#element_selector').find(":selected").text();
            let direction = $("#direction_selector").find(":selected").text();
            var path = "/static/images/resized_"+direction.toLowerCase()+"_"+element.toLowerCase()+"_7.png";
            canvas_image.url = path;
        });

        //Initialise sliders
        $('#flat-slider_horizontal').slider({
          orientation: 'horizontal',
          range:       true,
          max: 600,
          values:      [0, 600]
        });

        $('#flat-slider_vertical').slider({
          orientation: 'vertical',
          range:       true,
          max: 600,
          values:      [0, 300]
        });

        //Sets the hidden input values to be updated whenever the slider stops moving
        $(document).on("slidechange", "#flat-slider_horizontal", function(){
            var vals = $("#flat-slider_horizontal").slider("values");
            $("#left_width").val(vals[0]);
            $("#right_width").val(vals[1]);
        })

        $(document).on("slidechange", "#flat-slider_vertical", function(){
            var vals = $("#flat-slider_vertical").slider("values");
            $("#top_height").val(vals[1]);
            $("#bottom_height").val(vals[0]);
        })
    </script>
{% endblock %}