{% extends "base_mobile.html" %}
{% block content %}
	<title>KHUX Bot - Medal Creator</title>
	<div class="error">
        <strong>{{error}}</strong>
	</div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zingtouch/1.0.6/zingtouch.min.js"></script>
    <script src="/static/javascript/preview_mobile.js"></script>

    <form class="text" enctype="multipart/form-data" id="medal_create_form" action="/image/create" method="post">
        <div id="file_image_container">
            <input type="file" id="imgPreview0" name="image_file"><br>
        </div>
        <input type="button" name="add_image_container" id="add_image_container" value="Add another Image">
        <input type="button" name="remove_image_container" id="remove_image_container" value="Remove Image"><br>
        <input type="hidden" id="left_width" name="left_width" value="0">
        <input type="hidden" id="right_width" name="right_width" value="600">
        <input type="hidden" id="top_height" name="top_height" value="300">
        <input type="hidden" id="bottom_height" name="bottom_height" value="0">
        <input type="hidden" id="image_list" name="image_list">
        Choose your element: <select id="element_selector" name="element_selector">
            <option value="power">Power</option>
            <option value="speed">Speed</option>
            <option value="magic">Magic</option>
        </select><br>
        Advanced features:<input type="checkbox" name="advanced_features_checkbox" id="advanced_features_checkbox"><br>
        <div id="advanced_features" class="text" style="display: none">
            Custom mask (Mask must have an alpha channel): <input type="file" id="custom_mask" name="custom_mask"><div id="mask_error" style="color:red"></div>
            Custom glow:<input type="checkbox" name="custom_glow_checkbox" id="custom_glow_checkbox"><br>
            <div id="custom_glow_div" class="text" style="display: none">
                Note: Due to the different image libraries used, the preview glow might not match the resulting output<br>
                Glow colour: <input type="color" value="#FFFFFF" name="glow_colour" id="glow_colour"><br>
                Glow Iterations: <input type="text" name="glow_iterations" id="glow_iterations" value="3"><br>
            </div>
            Preview Mask<input type="checkbox" name="preview_mask" id="preview_mask"><br>
            TODO: Add support for multiple layers<br>
        </div><br>

        <input type="submit" name="submit">
    </form>
    <div id="canvas_container">
        <canvas class="preview_div" id="preview_div" width="600" height="600"></canvas>
    </div>
    <script>
        var image_list = [{}];

        //Initialise the canvas as well as place the initial medal background
        initialise_canvas();
        //Update image when the selector changes
        $(document).on("change", "#element_selector", function() {
            var element = $('#element_selector').find(":selected").text();
            var path = "/static/images/"+element.toLowerCase()+"_upright_6.png";
            canvas_image.url = path;
        });

        //**Touch Controls**//
        var touchArea = document.getElementById("preview_div");
        var zt = new ZingTouch.Region(touchArea);
        var moveTouch = new ZingTouch.Pan({numInputs: 1});
        var resizeIncrease = new ZingTouch.Expand();
        var resizeDecrease = new ZingTouch.Pinch();
        var startPan = moveTouch.start;
        var endPan = moveTouch.end;
 
        //Touch globlal variables
        var dragged_image = null;
        var last_pos = null;
        var prev_dist = null;

        moveTouch.start = function(inputs){
            var canvas = document.getElementById('preview_div');
            var canvasRect = canvas.getBoundingClientRect();
            var x = inputs[0].current.x - canvasRect.left;
            var y = inputs[0].current.y - canvasRect.top;
            if (dragged_image === null){
                for (var i = 0; i < image_list.length; i++){
                    image = image_list[i];
                    if (!image.locked){
                        //Check if the tap is within the image bounds
                        if ((x>image.x)&&(x<image.x+image.width)&&(y>image.y)&&(y<image.y+image.height)){
                            dragged_image = image;
                            last_pos = {touch_x:x,touch_y:y};
                        }
                    }
                }
            }
            return startPan.call(this, inputs);
        };

        moveTouch.end = function(inputs){
            dragged_image = null;
            last_pos = null;
            prev_dist = null;
            $("#image_list").val(JSON.stringify(image_list));
        }

        zt.bind(touchArea, moveTouch, function(e){
            var originalEvent = e.detail.events[0].originalEvent;
            var canvas = document.getElementById('preview_div');
            var canvasRect = canvas.getBoundingClientRect();

            var x = e.detail.events[0].x - canvasRect.left;
            var y = e.detail.events[0].y - canvasRect.top;
            if ((dragged_image != null) && (last_pos != null)){
                dragged_image.x += x - last_pos.touch_x;
                dragged_image.y += y - last_pos.touch_y;
            }
            last_pos = {touch_x:x, touch_y:y};
        }, false);

        zt.bind(touchArea, resizeIncrease, function(e){
            dist = Math.sqrt(Math.pow(e.detail.events[0].x, 2) + Math.pow(e.detail.events[1].x, 2));
            let new_dist;
            if ((prev_dist != null) && (dragged_image != null)){
                img_dist = Math.sqrt(Math.pow(dragged_image.width, 2) + Math.pow(dragged_image.height, 2));
                console.log(img_dist, prev_dist, dist);
                new_dist = img_dist + (prev_dist - dist)*5;
                console.log(new_dist);
                scale_image(dragged_image, new_dist);
            }
            prev_dist = dist;
        }, false);

        zt.bind(touchArea, resizeDecrease, function(e){
            dist = Math.sqrt(Math.pow(e.detail.events[0].x, 2) + Math.pow(e.detail.events[1].x, 2));
            let new_dist;
            if ((prev_dist != null) && (dragged_image != null)){
                img_dist = Math.sqrt(Math.pow(dragged_image.width, 2) + Math.pow(dragged_image.height, 2));
                console.log(img_dist, prev_dist, dist);
                new_dist = img_dist + (prev_dist - dist)*5;
                console.log(new_dist);
                scale_image(dragged_image, new_dist);
            }
            prev_dist = dist;
        }, false);
    </script>
{% endblock %}
