{% extends "base.html" %}
{% block content %}
    <title>KHUX Bot - Image Gallery</title>
	<link rel="stylesheet" href="/static/css/image_gallery.css">
	<div class="error">
        <strong>{{error}}</strong>
	</div>
    {% for image in images %}
        <div class="gallery">
            <a terget="_blank" href="{{image}}">
                <img src="{{image}}" width="300" height="300">
            </a>
        </div>
    {% endfor %}
{% endblock %}