{% extends "base.html" %}
{% block content %}
<title>KHUX Bot - Medal Data</title>
<div class="card bg-dark text-light border-light">
    <div class="card-body">
    The following list is a list of all columns in the database as well as what restrictions there are.<br>
    Note: List restrictions are <strong>case sensitive.</strong>
    <ul>
        <li>id - integer</li>
        <li>name - string</li>
        <li>rarity - integer</li>
        <li>type - list - Combat, Synthesis, Munny, Evolution, Trait</li>
        <li>element - list - Magic, Power, Speed</li>
        <li>direction - list - Upright, Reversed</li>
        <li>tier - integer</li>
        <li>targets - list - All, Single, Random</li>
        <li>attack - integer</li>
        <li>defence - integer</li>
        <li>cost - integer</li>
        <li>multiplier - text</li>
        <li>hits - integer</li>
        <li>notes - text</li>
        <li>region - text - JP, NA</li>
        <li>image_link - text</li>
        <li>pullable - text - Yes, No</li>
        <li>voice link - text</li>
    </ul>
    </div>
</div>
{% endblock %}