{% extends "base.html" %}
{% block content %}
<title>KHUX Bot - Medal Display</title>
<div class="text">
    <h1>{{data[1]}}</h1><br>
    <img src="{{image_link}}"></img><br>
    Element: {{data[4]}}<br>
    Direction: {{data[5]}}<br>
    Tier: {{data[6]}}<br>
    Targets: {{data[7]}}<br>
    Strength: {{data[8]}}<br>
    Defence: {{data[9]}}<br>
    Cost: {{data[10]}}<br>
    Multiplier: {{data[11]}}<br>
    Hits: {{data[12]}}<br>
    Ability Description: {{data[13]}}<br>
</div>
{% endblock %}