{% extends "base.html" %}
{% block content %}
<title>KHUX Bot - Medal Buff Data</title>
<div class="card bg-dark text-light border-light">
    <div class="card-body">
        The following list is the codename of all buffs you can filter by as with the previous list, these names are <strong>case sensitive.</strong>
        <ul>
            {% for buff in data%}
                <li>{{buff}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}